
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
   
   
    body{
        background-color: hsl(0, 100%, 74%);
	    background-image: url(./images/bg-intro-desktop.png);
        font-family: 'Poppins', sans-serif;
        font-size: ;
        width: 50%;
        margin: auto;
        
    }

    ul{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style-type: none;
    }

     li a {
        color: white;
        text-decoration: none;
    }




    .containerr{
        display: flex;
        flex-direction: column;
        text-align: center;
        
    }

   

    div{
        margin: 20px;
    }

    div p{
        line-height: 1.6;
    }

    img{
    
        width: 10em;
        border-radius: 50%;
        box-shadow: 0 4px 6px 0 rgba(34, 60, 80, .9);
    }

    h1, p{
        color: white;
    }


    @media  (max-width: 900px) {
        body {
            flex-direction: column;
            
            width: 100%;
        }
    }    